* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* css for clip path our autocomplete input container */
.MuiAutocomplete-hasPopupIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"],
.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
  background-color: gray;
  border: 1px solid gray;
  border-radius: 0px !important;
  background: #ffffff;
}
